.top-products-section {
    position: relative;
    display: flex;
    padding: 71px 0;
}

.top-products-info {
    width: 200px;
}

.top-products-title {
    max-width: 10%;
}

.top-products-text {
    max-width: 70%;
    font-size: 14px;
}

.product:nth-child(n+2) {
    margin-left: 100px;
}

.product-item:hover {
    cursor: pointer;
    opacity: 70%;
}

.product-price {
    margin: 0;
}

.product-name {
    margin: 0;
    max-width: 80%;
}

.product-name-rating {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.rating {
    display: flex;
    align-items: center;
}

.rating-icon {
    width: 20px;
    height: 20px;

    margin-right: 5px;

    background-image: url("/public/icons/rating-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.product-seller {
    display: flex;
    text-decoration: none;
    margin: 10px 0 15px;
    color: black;
}

.product-seller:hover {
    cursor: pointer;
    opacity: 70%;
}

.seller-icon {
    width: 15px;
    height: 15px;

    margin-right: 5px;

    background-image: url("/public/icons/profile-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
