.top-products-section {
  position: relative;
  display: flex;
  padding: 71px 0;
}

.top-products-text {
  font-size: 18px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 450px;
}

.product-item:hover {
  cursor: pointer;
  opacity: 70%;
}

.product-price {
  margin: 0;
}

.product-name {
  margin: 10px 0;
  padding-right: 10px;
  max-width: 200px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  hyphens: auto;
}

.product-name-full {
  max-width: 450px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  hyphens: auto;
}

.main-product-name {
  text-transform: none;
  font-size: 30px;
}

.product-name-rating {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-icon {
  width: 20px;
  height: 20px;

  margin-right: 5px;

  background-image: url("/public/icons/rating-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-seller {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 10px 0 15px;
  color: black;
}

.product-seller:hover {
  cursor: pointer;
  opacity: 70%;
}

.seller-icon {
  width: 15px;
  height: 15px;

  margin-right: 5px;

  background-image: url("/public/icons/profile-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.search-products-section {
  padding: 32px 0 62px;
  display: flex;
  flex-direction: row;
}

.serch-products-filteres {
  width: 220px;
}

.search-product-body {
  margin-left: 40px;
}

.button-apply {
  margin-top: 40px;
  width: 100%;
  padding: 15px 0;
}

.button-clear {
  margin-top: 10px;
  width: 100%;
  padding: 15px 0;
  background-color: var(--bg-dark-color);
  color: white;
}

.button-clear:hover {
  color: black;
  outline: 2px var(--bg-dark-color) solid;
}

.product-image-field {
  width: 100%;
  object-fit: cover;
}

.orderer-list {
  display: flex;
}

.order-item {
  font-size: 16px;
  padding: 10px 20px;
  border: 1px black solid;
  margin-right: 10px;
}

.order-item:hover {
  opacity: 70%;
  cursor: pointer;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 40px;

  margin: 40px 0;
}

.full-product {
  display: flex;
  margin-top: 20px;
}

.full-product .col1 {
  width: 50%;
}

.full-product .col2 {
  margin-left: 80px;
  width: calc(50% - 80px);
  padding-right: 30px;
}

.full-product h2.product-price {
  font-size: 50px;
  margin: 30px 0 10px;
}

.full-product h2.product-price span {
  font-size: 0.7em;
}

.full-product h1.product-name {
  font-size: 22px;
  font-family: "Comfortaa", cursive;
  font-weight: 200;
}

.full-rating {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-left {
  margin: 15px 0 20px;
}

.user-comment-section {
  margin-top: 40px;
}

.user-comment-section p {
  margin: 0 0 10px;
}

.product-comments {
  margin-top: 30px;
  margin-bottom: 50px;
}

.product-comment {
  margin-top: 30px;
}

.product-comment hr {
  margin-top: 20px;
}

.product-comment-author {
  font-size: 14px;
}

.product-comment-message {
  font-size: 18px;
}

.product-description {
  margin-top: 40px;
}

.product-description h3 {
  font-size: 22px;
}

.product-orderer {
  display: flex;
}

@media (min-width: 992px) {
  .top-products-title {
    max-width: 10%;
  }

  .top-products-text {
    max-width: 70%;
  }
}
