.orders-section {
  margin: 60px 0;
}

.customer-order {
  margin-top: 40px;
}

.customer-order-title {
  display: flex;
  justify-content: space-between;
}

.customer-order-item {
  margin-top: 40px;
}

.order-card {
  display: flex;
}

.order-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.order-image:hover {
  opacity: 70%;
  cursor: pointer;
}

.order-title {
  font-size: 24px;
}

.order-title:hover {
  opacity: 70%;
  cursor: pointer;
}

.order-seller {
  display: flex;
  align-items: baseline;
  color: black;
  text-decoration: none;
  font-size: 16px;
  margin: 30px 0 20px;
}

.order-seller:hover {
  opacity: 70%;
}

.order-full-image {
  width: 100%;
  height: auto;
}

.order-status {
  width: 250px;
}

.order-status-section {
  margin-top: 0;
  padding: 15px 20px;
  border: 2px var(--primary-color) solid;
  text-align: center;
}

.order-status-details {
  opacity: 70%;
}

.order-status-accept-button {
  width: 100%;
  padding: 20px;
}

.order-sep {
  margin-top: 50px;
}

.seller-orders {
  margin: 60px 0 50px;
}

.seller-order {
  margin-top: 40px;
  margin-bottom: 40px;
}

.seller-order-title {
  font-size: 24px;
}

.seller-order-container {
  display: flex;
  justify-content: space-between;
}

.seller-order-info {
  display: flex;
  padding-right: 50px;
}

.product-price.seller {
  margin-top: 20px;
}

.seller-order-sep {
  margin-top: 40px;
}

.seller-order-status {
  min-width: 700px;
  margin-right: 10px;
}

.order-statuses-list {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.current-status {
  margin: 0;
}

.change-status-containter {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.status {
  font-size: 14px;
}

.status-active {
  font-weight: bold;
  border: 2px var(--primary-color) solid;
  padding: 10px 0;
}

.status-inactive {
  font-weight: normal;

  border: 1px black solid;
  padding: 10px 0;
}

.change-status-button {
  padding: 15px 10px;
  margin-top: 20px;
}

@media (min-width: 576px) {
  .status {
    font-size: 16px;
  }
}
