.menu {
    display: flex;
    list-style-type: none;
}

.link {
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.link:hover {
    opacity: 60%;
    background-color: transparent;
}

.login-link {
    background-image: url("/public/icons/profile-icon.svg");
}

.registration-link {
    margin-left: 15px;
    background-image: url("/public/icons/signup-icon.svg");
}

.logout {
    background-image: url("/public/icons/logout-icon.svg");

    margin-left: 15px;
}

.logout:hover {
    outline: none;
}

.auth-bar {
    margin: 0;
    align-items: center;
}
