.top-categories-section {
  background-color: var(--bg-dark-color);
  color: white;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category h3 {
  margin-top: 10px;
  font-size: 20px;
}

.category:hover {
  cursor: pointer;
  opacity: 60%;
}

.category-image-field {
  width: 80%;
  object-fit: cover;
}

.category-button {
  margin: 20px 0 20px;
}

.category-button:hover {
  cursor: pointer;
  opacity: 70%;
}

@media (min-width: 768px) {
  .category-image-field {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .top-categories-title {
    text-align: start;
  }
  .top-categories-title {
    max-width: 15%;
  }
}
