.header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 57px;
    padding: 5px 0;

    background-color: var(--bg-light-color);
}

.logo {
    width: 54px;
}

.logo:hover {
    opacity: 70%;
}

.nav-section {
    display: flex;
    align-items: center;
}


footer {
    position: absolute;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 34px 140px;
    
    background-color: white;
}

.footer-menu li:nth-child(n+1){
    margin-left: 60px;
}

.footer-menu-link {
    color: var(--grey-color);
    text-decoration: none;
}

.footer-menu-link:hover {
    opacity: 60%;
}

.footer-contats div:nth-child(n+1) {
    margin-top: 17px;
}

.footer-contats .icons {
    padding: 0;
}