.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: calc(100% + 500px);
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 65px;
  padding: 35px 0px;
  box-sizing: border-box;

  background-color: var(--bg-light-color);
}

.logo {
  height: 45px;
}

.logo:hover {
  opacity: 70%;
}

.nav-section {
  display: flex;
  align-items: center;
}

footer {
  position: relative;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
}

.footer {
  width: 100%;
}

.footer-menu {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.icons-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.footer-menu-link {
  color: var(--grey-color);
  text-decoration: none;
}

.footer-menu-link:hover {
  opacity: 60%;
}

.footer-contats {
  display: flex;
  flex-direction: column;
}

.footer-contats div:nth-child(n + 1) {
  margin-top: 17px;
}

.footer-contats .icons {
  padding: 0;
  margin-top: 20px;
}

.greeting-message {
  width: 80px;
  margin-right: 10px;
  font-size: 10px;
}

.greeting-section-title {
  max-width: 100%;
}

.gretting-section-text {
  margin: 28px 0;
  max-width: 500px;
}

.greeting-image {
  height: 50%;
}

.header-user-bar {
  display: flex;
}

.select-item:hover {
  opacity: 70%;
  cursor: pointer;
}

.about-us-section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 600px;
}

.about-us-text {
  font-size: 20px;
}

.greeting-button {
  width: 200px;
}

@media (min-width: 768px) {
  .logo {
    height: 50px;
  }
}

@media (min-width: 992px) {
    .icons-menu {
        flex-direction: row;
        justify-content: start;
        margin: 0;
        padding: 0;
    }
    .contacts-block {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}

@media (min-width: 1200px) {
  .greeting-section-title {
    max-width: 100%;
  }
}
