.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% + 280px);
    margin-left: -140px;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 65px;
    padding: 35px 140px;
    box-sizing: border-box;

    background-color: var(--bg-light-color);
}

.logo {
    height: 60px;
}

.logo:hover {
    opacity: 70%;
}

.nav-section {
    display: flex;
    align-items: center;
}


footer {
    position: relative;
    width: calc(100% + 280px);
    margin-left: -140px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 34px 140px;
    
    background-color: white;
}

.footer-menu li:nth-child(n+1){
    margin-left: 60px;
}

.footer-menu-link {
    color: var(--grey-color);
    text-decoration: none;
}

.footer-menu-link:hover {
    opacity: 60%;
}

.footer-contats div:nth-child(n+1) {
    margin-top: 17px;
}

.footer-contats .icons {
    padding: 0;
}

.greeting-message {
    width: 80px;
    margin-right: 10px;
    font-size: 10px;
}

.greeting-section {
    padding: 74px 0px;
    display: flex;
    align-items: center;
}

.greeting-section-title {
    max-width: 20%;
}

.gretting-section-text {
    margin: 28px 0;
    max-width: 500px;
}

.gretting-images{
    width: 100%;
    margin-left: 70px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gretting-images img {
    height: 250px;
    margin: 0 20px;
}

.gretting-images .main-image {
    height: 350px;
}

.header-user-bar {
    display: flex;
}

.select-item:hover {
    opacity: 70%;
    cursor: pointer;
}

.about-us-section {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 600px;
}

.about-us-text {
    font-size: 20px;
}

.greeting-button {
    width: 200px;
}