@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Comfortaa:wght@400&display=swap');

:root {
    --primary-color: #FFBD59;
    --secondary-color: #000000;
    --bg-light-color: #FFF8F3;
    --bg-dark-color: #A5978E;
    --active-color: #FEC46D;
    --grey-color: #333333;
}


body {
    padding: 0 142px;
    margin: 0;
    
    font-family: 'Comfortaa', cursive;
    background-color: var(--bg-light-color);   
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin: 20px 0;
}

h2 {
    font-size: 30px;
    margin: 5px 0;
}

h2 span {
    font-size: 25px;
}

h3 {
    font-size: 20px;
    margin: 5px 0;
}

button {
    background-color: var(--primary-color);
    border: none;
    
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    padding: 10px 43px;
}

button:hover {
    cursor: pointer;
    background-color: var(--active-color);
}

search {
    margin-left: 20px;
    display: flex;
}

.search-button {
    margin: 0;
    padding: 0;

    height: 30px;
    width: 37px;

    background-image: url("/public/icons/search-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: black 1px solid;
}