@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&family=Comfortaa:wght@400&display=swap');

:root {
    --primary-color: #FFBD59;
    --secondary-color: #000000;
    --bg-light-color: #FFF8F3;
    --bg-dark-color: #A5978E;
}


body {
    padding: 0 142px;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    background-color: var(--bg-light-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yeseva One', cursive;
}

button {
    background-color: var(--primary-color);
    border: none;
    
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    padding: 10px 43px;
}

button:hover {
    cursor: pointer;
}