.list-button {
    background-color: transparent;
    font-size: 14px;
    position: relative;
    padding: 0 0 0 30px;
}

.list-button::before {
    content: ""; 
    background-image: url('/public/icons/list-icon.svg'); 
    background-size: cover; 
    display: block; 
    width: 19px;
    height: 16px;
    position: absolute; 
    left: 0; 
    top: 0; 
}

.list-button:hover {
    opacity: 70%;
    background-color: transparent;
    outline: none;
}

input {
    position: relative;
    left: 1px;

    margin: 0;
    padding: 0 14px;
    min-width: 350px;
    height: 30px;
    box-sizing: border-box;
    border: black 1px solid;

    font-family: 'Comfortaa', cursive;
    font-size: 14px;
}

input:focus {
    outline: none;
}

.social-icon {
    background-repeat: no-repeat; 
    display: block;
    min-width: 30px;
    height: 30px;
    content-visibility: hidden;
}

.social-icon:nth-child(n+1) {
    margin-left: 5px;
}

.social-icon:hover {
    opacity: 60%;
}

.twitter-icon {
    background-image: url('/public/icons/twitter-icon.svg');
    
}

.youtube-icon {
    background-image: url('/public/icons/youtube-icon.svg');
}

.vk-icon {
    background-image: url('/public/icons/vk-icon.svg');
}

.text-button {
    padding:20px 25px;
    width: 100%;
}

.image-field {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.image-field:hover {
    cursor: pointer;
}

.image-slider {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.add-to-cart-button {
    width: 100%;
}

.input-auth {
    margin: 15px 0;
    min-width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
}

.input-auth:hover {
    cursor: pointer;;
}