.auth-form {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 80px 0;
}

.auth-title {
  text-align: center;
}

.auth-buttons {
  margin-top: 30px;
}

.registration-buttons {
  margin-top: 15px;
}

.auth-button {
  width: 100%;
}

.auth-link {
  display: block;
  margin-top: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.auth-link:hover {
  opacity: 70%;
}

/* .checkbox-section label {
  display: block;
  margin-left: 30px;
} */

.checkbox-section {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px;
}

  /* .checkbox-section input[type="checkbox"] {
    display: none;
  } */
/* 
.checkbox-section input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-section label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.checkbox-section label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  background-color: #fff;
} */


/* .checkbox-section input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 7px;
  width: 10px;
  height: 5px;
  border: solid #000;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
} */

.user-comment {
  width: 96%;
  height: 200px;
  overflow-y: auto;
  resize: none;
  border: 1px solid black;
  margin-top: 10px;
}

.user-comment::-webkit-scrollbar {
  width: 8px;
}

.user-comment::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.user-comment::-webkit-scrollbar-thumb {
  background: #888;
}

.user-comment::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.create-comment-button {
  margin-top: 10px;
  padding: 20px 40px;
  width: calc(50% - 5px);
}

.edit-comment-section {
  margin-top: 10px;
}

.edit-comment-button {
  margin-right: 10px;
  width: calc(50% - 5px);
  padding: 20px 0;
}

.delete-comment-button {
  width: calc(50% - 5px);
  padding: 20px 0;
  color: white;
  background-color: var(--bg-dark-color);
}

.delete-comment-button:hover {
  outline: 2px var(--bg-dark-color) solid;
  color: black;
}

.product-category {
  margin: 5px 0 10px;
}

.change-product-button {
  padding: 15px 10px;
}

.delete-product-button {
  margin-top: 10px;
  padding: 15px 10px;
  background-color: var(--bg-dark-color);
  color: white;
}

.delete-product-button:hover {
  color: black;
  outline: 2px var(--bg-dark-color) solid;
}

.product.seller-product {
  min-height: 560px;
}

.product .buttons {
  display: flex;
  flex-direction: column;
}